.footer {
  background-color: #02264b;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ffcc00;
}
